<!--
COPYRIGHT:
Copyright (c) 2015-2019, California Institute of Technology ("Caltech").
U.S. Government sponsorship acknowledged.

All rights reserved.

LICENSE:
Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

- Redistributions of source code must retain the above copyright notice,
this list of conditions and the following disclaimer.

- Redistributions in binary form must reproduce the above copyright
notice, this list of conditions and the following disclaimer in the
documentation and/or other materials provided with the distribution.

- Neither the name of Caltech nor its operating division, the Jet
Propulsion Laboratory, nor the names of its contributors may be used to
endorse or promote products derived from this software without specific prior
written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
POSSIBILITY OF SUCH DAMAGE.

NTR:
-->
(function(){return this.HandlebarsTemplates||(this.HandlebarsTemplates={}),this.HandlebarsTemplates.prime_table_ri=Handlebars.template({1:function(e,t,n,a,s,i,r){var o,l,d,u='      <tr>\n        <th class="db_th" colspan="2">\n          '+e.escapeExpression((l=null!=(l=n.run_id||(null!=t?t.run_id:t))?l:n.helperMissing,"function"==typeof l?l.call(null!=t?t:{},{name:"run_id",hash:{},data:s}):l))+"\n        </th>\n      </tr>\n      <tr>\n        <th>Target Name</th>\n        <th>State Vector</th>\n      </tr>\n";return l=null!=(l=n.targets||(null!=t?t.targets:t))?l:n.helperMissing,d={name:"targets",hash:{},fn:e.program(2,s,0,i,r),inverse:e.noop,data:s},o="function"==typeof l?l.call(null!=t?t:{},d):l,n.targets||(o=n.blockHelperMissing.call(t,o,d)),null!=o&&(u+=o),u},2:function(e,t,n,a,s,i,r){var o,l;return"        <tr>\n          <td>"+e.escapeExpression((l=null!=(l=n.target_name||(null!=t?t.target_name:t))?l:n.helperMissing,"function"==typeof l?l.call(null!=t?t:{},{name:"target_name",hash:{},data:s}):l))+"</td>\n          <td>\n"+(null!=(o=n.each.call(null!=t?t:{},null!=t?t.state_vectors:t,{name:"each",hash:{},fn:e.program(3,s,0,i,r),inverse:e.noop,data:s}))?o:"")+"          </td>\n        </tr>\n"},3:function(e,t,n,a,s,i,r){return'              <a class="badge badge-excalibur" href="'+e.escapeExpression((n.makeURL||t&&t.makeURL||n.helperMissing).call(null!=t?t:{},null!=r[2]?r[2].run_id:r[2],null!=r[1]?r[1].target_name:r[1],t,{name:"makeURL",hash:{},data:s}))+' target="_blank"">'+e.escapeExpression(e.lambda(t,t))+"</a>\n"},compiler:[7,">= 4.0.0"],main:function(e,t,n,a,s,i,r){var o,l,d,u='<table class="table table-bordered table-condensed data-table">\n  <tbody>\n';return l=null!=(l=n.items||(null!=t?t.items:t))?l:n.helperMissing,d={name:"items",hash:{},fn:e.program(1,s,0,i,r),inverse:e.noop,data:s},o="function"==typeof l?l.call(null!=t?t:{},d):l,n.items||(o=n.blockHelperMissing.call(t,o,d)),null!=o&&(u+=o),u+"  </tbody>\n</table>"},useData:!0,useDepths:!0}),this.HandlebarsTemplates.prime_table_ri}).call(this);