bokeh>=1.2
boto3>=1.7.80
cryptography>=2.1.4
dawgie-pydot3==1.0.11
GitPython>=2.1.11
matplotlib>=2.1.1
progressbar2
psycopg<3.2.0
psycopg-binary<3.2.0
pyparsing>=2.4.7
pyOpenSSL>=19.1.0
python-gnupg==0.4.9
service_identity
requests>=2.20.0
transitions==0.6.8
twisted>=24.3.0
